
<html>
<head>
    <title>DMCE</title>
    <style>
        * { font-size: 40px; }
        body { background-color: azure; }
        table { width: 70%; }
        tr { text-align: center; }
    </style>
</head>
<body>
    <center>
        <h1>Home Page</h1>
        <a href="{% url 'create' %}">Create Student</a>
        <br>
        <table border="5">
            <tr>
                <th>Rno</th>
                <th>Name</th>
                <th>Marks</th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{ d.rno }}</td>
                <td>{{ d.name }}</td>
                <td>{{ d.marks }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>
